body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(32, 14, 37);
}

body {
    box-sizing: border-box;
}

.main-cadastro{
    width: 100vw;
    height: 100vh;
    background-color:rgb(32, 14, 37);
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.esquerda-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: column;
}

.esquerda-cadastro > h1 {
    font-size: 5vwpx;
    color:rgb(240, 227, 227);
}

.direita-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.caixa-cadastro{
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 20px 35px;
    background: rgb(83, 43, 83);
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgb(26, 25, 25);
}

.caixa-cadastro > h1{
    color:rgb(243, 234, 243);
    font-weight: 900;
    margin:0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 14px;
    background: rgb(148, 11, 148);
    color:rgb(22, 7, 7);
    font-size: 14pt;
    box-shadow: 0px 10px 40px rgb(26, 25, 25);
    outline:none;
    box-sizing: border-box;
}

.textfield > label{
    color:rgb(32, 9, 9);
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: rgb(5, 5, 5);
}

.botao-cadastro{
    width:100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 9px;
    outline: none;
    font-weight: 800;
    color:rgb(3, 247, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(136, 59, 104);
    
}

.img-cadastro{
    width: 29vw;
    
}

@media(max-width:950px){
    .caixa-login{
        width: 85%;
    }
}
@media(max-width:600px){
    .main-cadastro{
        flex-direction: column;
    }
    .esquerda-cadastro > h1{
        display: none;
    }
    .esquerda-cadastro{
        width: 100%;
        height: auto;
    }
    .direita-cadastro{
        width: 100%;
        height: auto;
    }
    .img-cadastro{
        width: 30vh;
    }
    
    .caixa-cadastro{
        width: 90%;
    }
}